<div class="container">
   <div class="row">
      <div class="col-md-12 text-center">
         <h3 class="text-theme-primary">{{ formStatus }} Chapter</h3>
         <form [formGroup]="chapterForm" (ngSubmit)="onSubmit()">
            <div class="row">
               <div class="col-md-12">
                  <div class="card shadow-effect">
                     <div class="card-body">
                        <div class="form-group">
                           <label for="">Please select a post category</label>
                           <select class="form-control" formControlName="category">
                              <option value="">Please select a category</option>
                              <option *ngFor="let category of categories"
                                 value="{{ category.id }}-{{ category.data.category }}">
                                 {{ category.data.category }}
                              </option>
                           </select>
                        </div>

                        <div class="form-group">
                           <label for="title">Chapter Title:</label>
                           <input type="text" id="title" formControlName="title">
                        </div>
                        <div class="form-group">
                           <label for="chapterNumber">Chapter Number:</label>
                           <input type="number" name="chapterNumber" id="chapterNumber" formControlName="chapterNumber">
                        </div>

                        <div class="form-group">
                           <label for="content">Chapter Content:</label>
                           <ckeditor [editor]="Editor" formControlName="content"></ckeditor>
                        </div>
                        <div class="col-md-12 text-center mb-5 mt-5">
                           <button class="btn btn-info" type="submit" [disabled]="!chapterForm.valid">
                              {{ formStatus }} Chapter
                           </button>
                           <button class="btn btn-warning ml-3" routerLink="/chapters">
                              Back to Chapters
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>