<div class="container">
  <div class="row">
    <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
      <h3 class="text-center text-theme-primary">
        {{ formStatus }} categories
      </h3>
      <p class="text-center mb-5">You can add/edit new categories ..!</p>
      <form
        class="form-inline text-center"
        #categoryForm="ngForm"
        (ngSubmit)="onSubmit(categoryForm)"
      >
        <div class="col-md-3">
          <input
            type="text"
            class="form-control shadow-effect"
            placeholder="Add new category"
            name="category"
            #newCategory="ngModel"
            [(ngModel)]="formCategory"
            required
            [ngClass]="{
              'is-invalid': newCategory.touched && newCategory.invalid
            }"
          />
          <div
            class="alert alert-danger"
            *ngIf="newCategory.touched && newCategory.invalid"
          >
            Category field is required.
          </div>
        </div>
        <div class="col-md-4">
          <input
            type="text"
            class="form-control shadow-effect"
            placeholder="Add category description"
            name="description"
            #newDescription="ngModel"
            [(ngModel)]="formCategoryDescription"
            required
            [ngClass]="{
              'is-invalid': newDescription.touched && newDescription.invalid
            }"
          />
          <div
            class="alert alert-danger"
            *ngIf="newDescription.touched && newDescription.invalid"
          >
            Description field is required.
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="">Please select a type of content</label>
            <select
              class="form-control"
              name="contentType"
            #newDescription="ngModel"
            [(ngModel)]="formContentType">
              <option value="">Please select a category</option>
              <option value="Tutorial">Tutorial</option>
              <option value="Blog">Blog</option>
              <option value="Job">Job</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <button
            class="btn btn-block btn-info mb-12 btn-theme"
            [disabled]="categoryForm.invalid"
          >
            {{ formStatus }} category
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>No</th>
                <th>Category</th>
                <th>Description</th>
                <th [width]="200">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categoryArray; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ category.data.category }}</td>
                <td>{{ category.data.categoryDescription }}</td>
                <td>
                  <button
                    class="btn btn-sm btn-warning"
                    (click)="onEdit(category)"
                  >
                    Edit
                  </button>
                  <button
                    class="btn btn-sm btn-danger ml-2"
                    (click)="onDelete(category)"
                  >
                    Delete
                  </button>
                  <button *ngIf="!category.data.isFeatured" class="btn btn-sm btn-success" (click)="enableDisableCategory(true, category)">
                    Mark Feature
                 </button>
                 <button *ngIf="category.data.isFeatured" class="btn btn-sm btn-info" (click)="enableDisableCategory(false, category)">
                    Delete Feature
                 </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-center mb-5 mt-5">
    <button class="btn btn-warning ml-3" routerLink="/dashboard">
      Back to Dashboard
    </button>
  </div>
</div>
